.ms-row { clear: both; }
.ms-cell {
  display: inline-block;
  width: 25px;
  height: 25px;
  float: left;
  background-color: #BCBCBC;
  border: 1px solid black;
  text-align: center;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */    
  &:hover {
    background-color: salmon;
    cursor: pointer;
  }
}

.ms-cell-opened {
  @extend .ms-cell;
  background-color: #d3d3d3;
  &:hover {
    background-color: #d3d3d3;
    cursor: pointer;
  }
}

.mine-cell {
  background-color: orange;
}

.ms-1 { color: #0000FF; }
.ms-2 { color: #437A0B; }
.ms-3 { color: #DD0000; }
.ms-4 { color: #00007A; }
.ms-5 { color: #690000; }
.ms-6 { color: #42797A; }
.ms-7 { color: #000000; }
.ms-8 { color: #787878; }