.ms-row { clear: both; }
.ms-cell {
  display: inline-block;
  width: 25px;
  height: 25px;
  float: left;
  background-color: gray;
  border: 1px solid black;
  text-align: center;
  &:hover {
    background-color: salmon;
    cursor: pointer;
  }
}

.ms-cell-opened {
  @extend .ms-cell;
  background-color: #d3d3d3;
  &:hover {
    background-color: #d3d3d3;
    cursor: pointer;
  }
}

.mine-cell {
  background-color: orange;
}
